name: Run Rubocop
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
        bundler-cache: true

    - name: Setup gems
      run: |
        cp test/support/gemfile.rb Gemfile
        bundle install --jobs 4 --retry 3

    - name: Run RuboCop
      run: |
        bundle exec rubocop -S

    - name: Run Slim-Lint
      run: |
        bundle exec slim-lint app/views
      if: always()
